# zsh
config/zsh/.zcompdump
config/zsh/.zsh_history
config/zsh/.zsh_history/
config/zsh/.zsh_sessions/

# vim
.netrwhist

# neovim
config/nvim/lua/config/user/

# dms
config/niri/dms/
config/alacritty/dank-theme.toml

# git
config/git/x

# fish
config/fish/config.fish

#niri
config/niri/noctalia.kdl
config/alacritty/themes/noctalia.toml
