    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+E hotkey-overlay-title="Open a File Manager: thunar" { spawn "thunar"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: Alacritty" { spawn "alacritty"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn-sh "swaylock -i ~/Pictures/lockscreen"; }
