* {
    font-size: 13px;
    font-weight: bold;
    font-family: Monospace, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.4);

    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    color: #ffffff;
    padding: 0 5px;

    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mpris {
    color: #ffffff;
    background-color: transparent;
}

#tray,
#audio,
#clock,
#power {
    margin: 0 5px;
    border-radius: 10px;
}

#tray {
    color: #ffffff;
    padding: 0 10px;
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;

    background-color: #eb4d4b;
}

#audio,
#pulseaudio,
#pulseaudio-slider {
    color: #000000;
    padding: 0 7px;
    background-color: #f1c40f;
}

/*#pulseaudio.muted {
    color: #2a5c45;
    background-color: #90b1b1;
}*/

#pulseaudio:hover {
    background-color: #a37800;
}

#pulseaudio-slider slider {
    opacity: 0;

    min-width: 0px;
    min-height: 0px;
}

#pulseaudio-slider trough {
    min-width: 90px;
    min-height: 5px;

    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 5px;

    background-color: white;
}

#clock {
    color: #ffffff;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #64727d;
}

#power {
    color: #ffffff;
    margin-right: 4px;
}

#custom-lock,
#custom-quit,
#custom-power,
#custom-reboot {
    color: #ffffff;
    margin: 0 10px;
    background-color: transparent;
}
