layout {
    background-color "transparent"

    focus-ring {
        active-color   "#9c4235"
        inactive-color "#777777"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#9c4235"
        inactive-color "#777777"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9c4235"
        inactive-color "#777777"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#9c423580"
    }
}

/-recent-windows {
    highlight {
        active-color   "#7d2b20"
        urgent-color   "#ba1a1a"
    }
}