prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
  TERMINAL "alacritty"
  XDG_CURRENT_DESKTOP "niri"
  ELECTRON_OZONE_PLATFORM_HINT "auto"

  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
}

config-notification {
    disable-failed
}

debug {
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}


include "binds.kdl"
include "windows.kdl"
include "layouts.kdl"

include "noctalia/config.kdl"
