// global window
window-rule {
    clip-to-geometry true
    geometry-corner-radius 12
}

// transparent window
window-rule {
    match app-id="Alacritty"

    opacity 0.8
    draw-border-with-background false
}

// floating window
window-rule {
    match app-id=r#"^steam$"#
    match app-id=r#"^firefox$"#
    match app-id=r#"^chromium$"#
    match app-id=r#"^xdg-desktop-portal$"#

    open-floating true
}

// inactive window
window-rule {
    match is-active=false

    opacity 0.5
}

recent-windows {
    highlight {
        corner-radius 15
    }
}
